<div *ngIf="pokemon" class="container">
  <h3>{{ pokemon.name }}</h3>
  <img [src]="pokemon.img" alt="" />
  <div class="listContainer">
    <div>
      <h4>Abilities :</h4>
      <ul>
        <li *ngFor="let ability of pokemon.abilities">
          {{ ability.ability.name }}
        </li>
      </ul>
    </div>

    <div>
      <h4>Types :</h4>
      <ul>
        <li *ngFor="let type of pokemon.types">{{ type.type.name }}</li>
      </ul>
    </div>
  </div>
  <button (click)="savePokemon.emit(pokemon)">Catch this pokemon</button>
</div>
