button {
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #707070;
    background-color: rgb(61, 216, 61);
    margin: 3% auto;
    font-weight: bold;
    padding: 2% 3%;
    cursor: pointer;
  }